html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #001222;
  color: #fff;
  overflow-x: hidden;
}

#App {
  background-color: #001222;
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  font-weight: 400;
  min-height: 100vh;
  letter-spacing: -0.003em;
  line-height: 1.58;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1 0 auto;
  min-height: calc(100vh - 76px); /* Subtract navbar height */
  padding-top: 76px; /* Add padding for fixed navbar */
  width: 100%;
}


